header
  .container
    .table
      .header-text
        .row
          .col-md-12.text-center
            h3.light.black Make your learning interactions much easier.
            h1.white.typed.black Study Scope
            span.typed-cursor |