nav.navbar
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        span.icon_book_alt.main-logo
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right.main-nav
        if user && user.type == 'teacher'
          li
            a(href='/rooms/manage-rooms') Manage Rooms
        if user && user.type == 'student'
          li
            a(href='/rooms/list/my') My Rooms
        if user && user.type == 'admin'
          li
            a(href='/schools/manage-permissions') Manage School Permissions
        if !user
          li
            a(href='/users/login') Log In
          li
            a.btn.btn-blue(href='/users/side-pick') Sign Up
        if user
          li
            a(href='/users/logout') Log Out