extends layout

block content
  .container.clearfix-header
    h1 School Permission Manager
    p You can add new one permission
    ul.errors
      if errors
        each error, i in errors
          li.alert.alert-danger #{error.msg}
    form(method='post', action='/schools/add-permission')
      .form-group
        label Student Key
        input.form-control(name='studentKey', type='text', placeholder='Enter Student Key')
      input.btn.btn-blue(name='submit', type='submit', value='Add')