extends layout

block content
  section.section.section-padded.clearfix-header
    .container
      .row.text-center.title
        h2 How are you?
        h4.light.muted Pick your own side
      .row.services
        .col-md-4
          .service
            .icon-holder
              img.icon(src='../img/icons/high-school-pick.ico', alt='')
            h4.heading High School
            p.description
              a(href='/schools/register').btn.btn-blue Register high school.
        .col-md-4
          .service
            .icon-holder
              img.icon(src='../img/icons/teacher-pick.ico', alt='')
            h4.heading Teacher
            p.description
              a.btn.btn-blue Register like a teacher
        .col-md-4
          .service
            .icon-holder
              img.icon(src='../img/icons/student-pick.ico', alt='')
            h4.heading Student
            p.description
              a.btn.btn-blue Register like a student
    .cut.cut-bottom
